.container {
  padding: 30px 45px;

  .inputFilter {
    border-radius: 45px;
    border-color: #50799e;
    border-width: 1.6px;
    padding-block: 12px;
  }

  .filterBtn {
    background-color: #ffffff;
    border: 1.6px solid #50799e;
    color: #1aa5c0;
    height: 45px;
    align-self: center;
  }
}
