.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  padding: 25px 40px;

  .header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-block: 25px;
    border-radius: 15px;
    box-shadow: 2.857px 3.809px 3.809px #0d88b4;

    .headerContent {
      display: flex;
      align-items: center;
      gap: 50px;

      > div {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #50799e;
        font-size: 18px;
      }
    }
  }

  .wrapper {
    display: grid;
    flex: 1;
  }
}
