.container {
  padding: 25px;

  .title {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      color: #50799e;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
    }
  }

  .sectionTitle {
    color: #1aa5c0;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-block-start: 20px;
  }
}
