.label {
  display: block;
  color: #50799e;
  font-weight: 500;
  margin-block-end: 6px;
}
.required {
  color: #1aa5c0;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 18px;
  border-width: 1.5px;
  border-color: #adbfcf;
  border-style: solid;
  border-radius: 8px;
  overflow: hidden;

  &:focus-within {
    border-color: #50799e;
  }

  &.errorBorder {
    border-color: #ff0000;
  }
}
.input {
  flex: 1;
  font-size: 16px;
  border: none;
  &:focus-visible {
    outline: none;
  }
}
.clicable {
  cursor: pointer;
}
.error {
  color: #ff0000;
  font-size: 14px;
  margin-block-start: 3px;
}
